<html>

<div class = "box_text1a">
	<h1>Log in.</h1>


<%= form_for :session, :url => sessions_path do |f| %>
  Email: <div class = "formfont"> <%= f.text_field :email %>  </div>
 Password: <div class = "formfont"> <%= f.password_field :password %> </div> <br />
  <%= f.submit "Login" %>
<% end %>

</div>

</html>

