<div class = "box_text1">

<h1>Please log-in.</h1>

<%= form_for :session, :url => sessions_path do |f| %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Login" %>
<% end %>

</div>
